<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Hello Exams!</a>

            </div>

                <ul class="nav navbar-nav"><li><a href="/java"> Java Exams</a></li></ul>
                <ul class="nav navbar-nav"><li><a href="/python"> Python Exams</a></li></ul>
                <ul class="nav navbar-nav"><li><a href="/aptitude"> Aptitude Exams</a></li></ul>

                <ul class="nav navbar-nav navbar-right"><li><a href="/signup">SignUp</a></li></ul>
                <ul class="nav navbar-nav navbar-right"><li><a href="/accounts/login">Login</a></li></ul>
                <ul class="nav navbar-nav navbar-right"><li><a href="/logout">Logout</a></li></ul>
        </div>
    </nav>

    {%block body_block%}
    {%endblock%}
</body>
</html>