{%extends 'testapp/base.html'%}

    {%block body_block%}
    <div class="jumbotron" align="center">
            <div class="container" >
            <h1> Welcome to Hello Exams...</h1>
            <h2 align="left"> Rules:</h2>
            <ul align="left">
                <li>Rule: You Have One Exam Per Day</li>
                <li>Rule: You Have One Exam Per Day</li>
                <li>Rule: You Have One Exam Per Day</li>
                <li>Rule: You Have One Exam Per Day</li>
            </ul>
            </div>
    </div>
{%endblock%}